.OuterContainer {
  margin: 0 auto;
  border: 1px solid #D3D3D3;
  max-width: 30%;
  min-width: 200px;
  box-shadow: 5px 5px 5px #D3D3D3;
  overflow: hidden;

}

.list-group-item {
  min-height: 97.34px;
  border: 2px solid #D3D3D3;
  padding: 7%;
  border-left: none;
  border-right: none;
}

.fa-plus, .fa-times{
  float: right;
  padding: 3px;
}

h3, p {
  padding: 4px 20px 10px 10px;
}
.control-label {
  padding: 1px 5px;
}

.btn.btn-danger {
  float: right;
  margin-right: 10px;
  margin-bottom: 20px;
}

.Savebutton {
  margin-left: 150px;
  margin-bottom: 10px;
}

.btn.btn-primary {
  margin-bottom: 20px;
  margin-left: 10px;
}
